SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
GEYSER_URL=

RPC_POLL_INTERVAL_MS=400
MONITOR_INTERVAL_MS=400
SCOUT_INTERVAL_MS=1000
SCOUT_LOOKAHEAD_SLOTS=10

GEYSER_RECONNECT_DELAY_MS=1000
GEYSER_MAX_RECONNECT_DELAY_MS=10000

DEFAULT_COMPUTE_UNIT_LIMIT=200000
DEFAULT_PRIORITY_FEE=100000

SLIPSTREAM_BLOCKLIST_FILE=./blocklist.txt
SLIPSTREAM_BLOCKLIST_URL=
SLIPSTREAM_BLOCKLIST_REFRESH_SECS=300
